name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  mix_test:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    services:
      pg:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: data_migration_test
          TZ: UTC
        ports:
          - 15435:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mysql:
        image: mysql:8
        env:
          MYSQL_DATABASE: data_migration_test
          MYSQL_USER: mysql
          MYSQL_PASSWORD: mysql
          MYSQL_ROOT_PASSWORD: mysql
        ports:
          - 13306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mssql:
        image: mcr.microsoft.com/mssql/server:2022-latest
        env:
          ACCEPT_EULA: Y
          MSSQL_PID: Developer
          MSSQL_SA_PASSWORD: StrongPassword!
        ports:
          - 11433:1433
        options: >-
          --health-cmd="/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'StrongPassword!' -C -Q 'SELECT 1'"
          --health-interval 10s
          --health-retries 10
          --health-timeout 5s
          --health-start-period 10s

    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.18'
          otp-version: '27'
      - run: rm mix.lock && mix deps.get --only test
      - run: mix compile --force --warnings-as-errors
      - run: mix format --check-formatted
      - run: ECTO_ADAPTER=sqlite mix test --warnings-as-errors
      - run: ECTO_ADAPTER=pg mix test --warnings-as-errors
      - run: ECTO_ADAPTER=myxql mix test --warnings-as-errors
      - run: ECTO_ADAPTER=tds mix test --warnings-as-errors
